*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box_acessibilidade{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box_acb{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.acessibilidade_titles{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acessibilidade_image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


@media (max-width: 535px) {
    .image_acessibilidade{
        width: 15rem;
        height: 15vh;
        
    }
   }